@import "tailwindcss";

:root {
  --background: #f8f8f8;
  --foreground: #171717;

  --primary: #d71920;
  --primary-hover: #b8141a;

  --border: #ececec;

  --success: #06c755;

  --card: #ffffff;

  --radius: 20px;

  --shadow:
    0 20px 60px rgba(0, 0, 0, .08);
}

html{
  scroll-behavior:smooth;
}

body{
  background:var(--background);
  color:var(--foreground);
  font-family:var(--font-kanit);
}

*{
  box-sizing:border-box;
}

button{
  cursor:pointer;
}

img{
  user-select:none;
  -webkit-user-drag:none;
}